<h1>Pagina de registro</h1>

<form method="post" action="/api/users">
    <input type="text" placeholder="nombre" name="firstname"/>
    <br/><br/>
    <input type="email" placeholder="correo electrónico" name="email"/>
    <br/><br/>
    <button type="submit">Registrarse</button>
</form>