<h1>Pagina de Login</h1>

<form method="post" action="/api/sessions/login">
    <input type="text" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="text" placeholder="Comtraseña" name="password"/>
    <br/><br/>
    <button>Loguearse</button>
</form>