<h1>Pagina de inicio</h1>

<input id="chatbox" type="text" placeholder="Ingrese el mensaje"/>

<div id="messageLogs"></div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>