<h1>Registro de usuarios</h1>

<form method="post" action="/api/users">
    <input type="text" placeholder="Ingrese su nombre" name="name"/>
    <br/><br/>
    <input type="email" placeholder="Ingrese su correo" name="email"/>
    <br/><br/>
    <button type="submit">Registrarse</button>
</form>