<h1>Pagina principal</h1>
<input type="text" id="chatbox" placeholder="introduzca un texto">
<button id="sendButton">Enviar</button>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>