<h1>Formulario de Login</h1>

<form method="post" action="/crearCookieForm">
    <input type="text" placeholder="nombre" name="first_name"/>
    <br/><br/>
    <input type="email" placeholder="Correo" name="email"/>
    <br/><br/>
    <button>Enviar</button>
</form>
<hr/>
<a href="/leerCookies">Leer cookies</a>