<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/{{style}}">
</head>
<body>
    <div style="background:gray; width:100%">Barra de navegacion</div>
    {{{body}}}
    <div style="background:gray; width:100%">Pie de pagina</div>
</body>
</html>