<h1>Olvidaste tu Contraseña</h1>

<p>Ingresa tu correo, para enviarte un enlace para cambiar tu Contraseña</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="Correo electronico" name="email"/>
    <button>Recibir correo</button>
</form>