<h1>Cambiar tu Contraseña</h1>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="password" placeholder="Nueva contraseña" name="newPassword"/>
    <button>Restablecer contraseña</button>
</form>