<h1>Pagina de registro</h1>

<form method="post" action="/api/sessions/signup" enctype="multipart/form-data">
    <input type="text" placeholder="Nombre" name="first_name"/>
    <br/><br/>
    <input type="text" placeholder="Apellio" name="last_name"/>
    <br/><br/>
    <input type="text" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="text" placeholder="Contraseña" name="password"/>
    <br/><br/>
    <input type="file" name="avatar"/>
    <br/><br/>
    <button>Registrarse</button>
</form>