<h1>Restaurar contraseña</h1>
<p style="color:red">{{error}}</p>

<br/><br/>
<p>Ingresa correo y nueva contraseña</p>
<form method="post" action="/api/sessions/changePass">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="nueva contraseña" name="newPassword"/>
    <br/><br/>
    <button>Restaurar</button>
</form>